<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/base.css">
		<link rel="stylesheet" type="text/css" href="css/test.css">
		<link rel="stylesheet" type="text/css" href="css/test2.css">
		<link rel="stylesheet" type="text/css" href="css/test3.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 

		<link rel="stylesheet" href="css/bufeymin.css">
		<link href="css/tailwind.css" rel="stylesheet">

		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" /> <link rel="stylesheet" href="./../static/th-2021/app.css">
		<title></title>
	</head>
	<body>
		<div id="app" v-cloak>
			
		<div class="full-height-container" :id="links[0]">
		<div class="block my-0">
		<div class="block lg:hidden pb-2 my-0">
		<template>
		<b-navbar>
		<template slot="brand">
		<b-navbar-item tag="router-link">
		<img src="./../static/th-2021/img/logo.svg" class="cursor-pointer pl-2" @click="window.open('https://forms.gle/Q52QVRkhFogJV9hQ9')">
		</b-navbar-item>
		</template>
		<template slot="start">
		<b-navbar-item :href="'#' + link" v-for="link in links">
		<span class="">
		{{ link }}
		</span>
		</b-navbar-item>
		</template>
		</b-navbar>
		</template>
		</div>
		<div class="hidden lg:block mx-24 pt-2">
		<div class="flex float-left">
		<div class="p-4">
		<img src="img/TIBO_LOGOV2.png" class="cursor-pointer"  height="70" width="70"  @click="window.open('https://forms.gle/Q52QVRkhFogJV9hQ9')">
		</div>
		</div>
		<div class="flex float-right text-lg inline-block mr-32 wide-nav">
		<a v-for="link in links" :href="'#' + link" class="font-semibold text-gray-700 hover:text-black mr-24 pt-4 px-2 hover-red-underline">
		{{ link }}
		</a>
		
		</div>
		</div>
		</div>
		<div>
		<div class="page-content">
		<div class="page-content-panel page-content-img lg:w-1/2">
		
		<img id="myimg" src="/img/IMG_1191.png" class="custom-giant-image float-left">
		
		</div><div class="page-content-panel page-content-right">
		<h2 class="text-5xl th-pink font-bold leading-normal" style="margin-bottom: 0px;">
			Compete, Learn, and Innovate
		<br />
		Keep Austin Hacking 2021.
		</h2>
		<p class="text-lg pl-2 helper-text py-4 my-2">
		Austin ISD Performing Arts Center
		<br />
		September 4th 2021
		<br />
		Hosted In-person
		<br />
		</p>
		<div class="pb-4"></div>
		<a href="https://forms.gle/BpHTnQLKHGfvd1789" target="_blank" class="font-bold text-center lg:mr-2 lg:w-1/2 sm:w-full hidden md:inline-block py-4 my-2 text-lg rounded-md th-pink-bg
									text-white hover:text-white hover:bg-red-600">
		Register
		</a>
		<a href="https://forms.gle/BpHTnQLKHGfvd1789" target="_blank" class="font-bold lg:mr-2 md:hidden sm:w-full block py-4 my-2 text-center text-lg rounded-md th-pink-bg
								text-white hover:text-white hover:bg-red-600">
		Register
		</a>
		<a href="https://discord.gg/qkmQD3dSnz" target="_blank" class="font-bold discord-bg text-center lg:mr-2 lg:w-1/2 sm:w-full hidden md:inline-block py-4 my-2 text-lg rounded-md 
								text-white hover:text-white">
		Join the Discord
		</a>
		<a href="https://discord.gg/qkmQD3dSnz" target="_blank" class="font-bold discord-bg lg:mr-2 md:hidden sm:w-full block py-4 my-2 text-center text-lg rounded-md
								text-white hover:text-white">
		Join the Discord
		</a>
		<a href="https://drive.google.com/file/d/1t7WDv0EGXgRB_fTIsmjnRcgKME2fNzb0/view?usp=sharing" target="_blank" class="font-bold text-center lg:mr-2 lg:w-1/2 sm:w-full hidden md:inline-block py-4 my-2 text-lg rounded-md th-yellow-bg
									text-white hover:text-white hover:bg-yellow-400">
		Sponsor Us
		</a>
		<a href="https://drive.google.com/file/d/1t7WDv0EGXgRB_fTIsmjnRcgKME2fNzb0/view?usp=sharing" target="_blank" class="font-bold lg:mr-2 md:hidden sm:w-full block py-4 my-2 text-center text-lg rounded-md th-yellow-bg
								text-white hover:text-white hover:bg-yellow-400">
		Sponsor Us
		</a>

		<a href="https://forms.gle/aK3R44N58525UNnT8" target="_blank" class="font-bold text-center lg:mr-2 lg:w-1/2 sm:w-full hidden md:inline-block py-4 my-2 text-lg rounded-md th-gree-bg
									text-white hover:text-white hover:bg-green-500">
		Become a Judge/Speaker/Workshop-presenter
		</a>
		<a href="https://forms.gle/aK3R44N58525UNnT8" target="_blank" class="font-bold lg:mr-2 md:hidden sm:w-full block py-4 my-2 text-center text-lg rounded-md th-gree-bg
								text-white hover:text-white hover:bg-green-500">
		Become a  Judge
		</a>
		

		</div>
		</div>
		
		</div>
		</div>
		
		<div class="full-height-container" :id="links[1]" style="margin-top: 100px;">
		<div class="page-content mt-10 mb-5">
		<div class="page-content-panel page-content-left">
		<h2 class="text-5xl th-pink font-bold leading-normal padding-mobile2">
		About Keep Austin Hacking
		</h2>
		<p class="md:text-lg pt-4 pb-8 padding-mobile2 font-light">
			On September 4th, in Austin, we are hosting Central Texas&#39;s largest hackathon student led: Keep Austin Hacking, where 300 of Central Texas&#39;s brightest student hackers across 6 grade levels will compete, learn, and innovate. 
		</p>
		<p class="md:text-lg pt-8 pb-8 padding-mobile2 font-light"> 
			Over the course of 24 hours, small teams composed of student attendees will develop their own apps, websites, and games. In addition, students can compete in a competitve programing contest, interact with mentors, listen to keynote speakers, and participate in workshops. After time is up a panel of judges will choose the best projects for prizes and demos. Although many attendees will be new to coding, through this collaborative learning experience they will transform from passive consumers of technology to avid creators.  
		</p>
		<p class="md:text-lg pt-8 pb-8 padding-mobile2 font-light">
			We are committed to ensuring that students of all demographic backgrounds can attend. We encourage the participation of all genders, underrepresented minorities, and LGBTQ+ students.
		</p>

		<p class="md:text-lg pt-8 pb-8 padding-mobile2 font-light">
			Participants we recomend bringing a laptop, charger, pillow and blanket, and a fun positive attitude!
		</p>
	
		</div><div class="page-content-panel lg:w-1/2">
		
		<div class="spacer s0" id="trigger"></div>
		<img id="myimg" src="/img/IMG_1193.png" class="custom-giant-image float-right">
		
		
		</div>
		</div>
		</div>


		<div class="full-height-container" :id="links[2]">
			<div class="faq-container">
				<h2 class="text-5xl th-pink font-bold leading-normal">
					CPC
				</h2>
				<p class="md:text-lg pt-8 pb-8 padding-mobile2 font-light">
					CPC stands for Competitive Programing Contest. Our CPC problems and inline IDE and autograder will be available 
					only during competion day. Our problems will be similiar to USACO and other competitve programing problems.
		

				</p>
				<div class="pb-4"></div>

	
			</div>
		</div>







		<div class="full-height-container" :id="links[3]">
		<div class="faq-container">
		<h2 class="text-5xl th-pink font-bold leading-normal">
		Schedule
		</h2>
		<iframe width="1600" height="800"
		src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSxNe4LX21J7qD26Tho0GXd0Met2WT8BJZk9_58qRbE84hlIs98VZKTG1Vu9O7k-nKuEXhnKFTLwB6R/pubhtml?widget=true&amp;headers=false"></iframe>	
		
		</div>
		</div>

		<div class="full-height-container" :id="links[4]">
			<div class="faq-container">
				<h2 class="text-5xl th-pink font-bold leading-normal">
					Team
				</h2>
			
	
	<div class="container">
	<div class="row">
	
	<!--team-1-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-fron thumbnail">
	<img src="img/TIBO_LOGOV2.png" class="img-fluid"  height="140" width="140"  />
	<h3>Shoumik Roychowdhury</h3>
	<p>Lead Organizer</p>
	</div>

	
	</div>
	</div>
	<!--team-1-->
	
	<!--team-2-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front ">
	<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
	<h3>Maxim Gao</h3>
	<p>Lead Organizer</p>
	</div>
	
	
	
	</div>
	</div>
	<!--team-2-->
	
	<!--team-3-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
	<h3>Hrushi Saranu</h3>
	<p>Lead Organizer</p>
	</div>
	
	<div class="team-back">

	</div>
	
	</div>
	</div>
	<!--team-3-->
	
	<!--team-4-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
	<h3>Andrew Li</h3>
	<p> CPC Problem Developer</p>
	</div>
	
	<div class="team-back">

	</div>
	
	</div>
	</div>
	<!--team-4-->
	
	<!--team-5-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
	<h3>Eric Xu</h3>
	<p>CPC Problem Developer</p>
	</div>
	
	<div class="team-back">

	</div>
	
	</div>
	</div>
	<!--team-5-->
	
	<!--team-6-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
	<h3>Andy Jiang</h3>
	<p>CPC Problem Developer</p>
	</div>
	
	<div class="team-back">
	
	</div>
	
	</div>
	</div>

	<div class="col-lg-4">
		<div class="our-team-main">
		
		<div class="team-front">
		<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
		<h3>Elliot Lee</h3>
		<p>CPC Problem Developer</p>
		</div>
		
		<div class="team-back">
		
		</div>
		
		</div>
		</div>

		<div class="col-lg-4">
			<div class="our-team-main">
			
			<div class="team-front">
			<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
			<h3>Rowechen Zhong</h3>
			<p>CPC Problem Developer</p>
			</div>
			
			<div class="team-back">
			
			</div>
			
			</div>
			</div>
	<!--team-6-->
	<div class="col-lg-4">
		<div class="our-team-main">
		
		<div class="team-front">
			<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
		<h3>Vishal Narra</h3>
		<p>Logistics</p>
		</div>
		
		<div class="team-back">
		
		</div>
		
		</div>
		</div>

		<div class="col-lg-4">
			<div class="our-team-main">
			
			<div class="team-front">
				<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
				<h3> Nikhil Reddy</h3>
			<p>Logistics</p>
			</div>
			
			<div class="team-back">
			
			</div>
			
			</div>
			</div>
			<div class="col-lg-4">
				<div class="our-team-main">
				
				<div class="team-front">
					<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
				<h3>Imran Aziz</h3>
				<p>Logistics</p>
				</div>
				
				<div class="team-back">
				
				</div>
				
				</div>
				</div>
				<!--team-6-->
				<div class="col-lg-4">
					<div class="our-team-main">
					
					<div class="team-front">
						<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
					<h3>Evan Lai</h3>
					<p>Logistics</p>
					</div>
					
					<div class="team-back">
					
					</div>
					
					</div>
					</div>
					<!--team-6-->
					<div class="col-lg-4">
						<div class="our-team-main">
						
						<div class="team-front">
							<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
						<h3>Akhil Bhale</h3>
						<p>Outreach</p>
						</div>
						
						<div class="team-back">
						
						</div>
						
						</div>
						</div>
						<!--team-6-->
						<div class="col-lg-4">
							<div class="our-team-main">
							
							<div class="team-front">
								<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
							<h3>Brandon Shin</h3>
							<p>Outreach</p>
							</div>
							
							<div class="team-back">
							
							</div>
							
							</div>
							</div>
							<!--team-6-->
							<div class="col-lg-4">
								<div class="our-team-main">
								
								<div class="team-front">
									<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
								<h3>Arohan Shrestha</h3>
								<p>Graphic Design</p>
								</div>
								
								<div class="team-back">
								
								</div>
								
								</div>
								</div>
								<!--team-6-->
								<div class="col-lg-4">
									<div class="our-team-main">
									
									<div class="team-front">
										<img src="img/TIBO_LOGOV2.png" class="img-fluid" height="140" width="140"/>
									<h3>Rishi Rajiv</h3>
									<p>Graphic Design</p>
									</div>
									
									<div class="team-back">
									
									</div>
									
									</div>
									</div>
									<!--team-6-->
		
	
	
	</div>
	</div>



			</div>
		</div>





		<div class="full-height-container prizes-bgd" :id="links[5]">
		<div class="faq-container">
		<h2 class="text-5xl th-red font-bold leading-normal">
		Prizes
		</h2>
		<p class=" md:text-lg pt-8 pb-8 padding-mobile2 font-light">
			Each member of the winning team will recieve a prize.

		</p>
		<div class="justify-center flex flex-wrap">
		<div class="prizes-box" v-for="(p, i) in prizes">
		<h2 class="font-bold text-lg">{{p.name}}</h2>
		<p class="mb-2">{{p.description}}</p>
		<p>Prize: {{p.prize}}</p>
		</div>
		</div>
		</div>
		</div>
		<div class="full-height-container" :id="links[6]">
		<div class="faq-container">
		<h2 class="text-5xl th-pink font-bold leading-normal">
		Frequently Asked Questions
		</h2>
		<div class="row-1 md:w-1/2 inline-block" style="vertical-align: top;">
		<div class="inline-block special-faq w-full faq-margin-divs" v-for="(f, i) in faq" v-if="i % 2 == 0">
		<div class="mr-4 my-4 faq-margin-divs th-pink-border p-2">
		<div class="padding-mobile text-gray-900 font-semibold py-5 px-12 border text-xl gray-text th-pink-border">
		<h2 class="text-2xl pb-2 gray-text primary-font leading-tight pt-4 padding-mobile3">
		{{f.title}}
		</h2>
		<p class="py-4 text-base lg:text-lg gray-text font-light padding-mobile4" v-html="f.desc">
		</p>
		</div>
		</div>
		</div>
		</div><div class="row-1 md:w-1/2 inline-block" style="vertical-align: top;">
		<div class="inline-block special-faq w-full faq-margin-divs" v-for="(f, i) in faq" v-if="i % 2 == 1">
		<div class="ml-4 my-4 faq-margin-divs th-pink-border p-2">
		<div class="padding-mobile text-gray-900 font-semibold py-5 px-12 border text-xl gray-text th-pink-border">
		<h2 class="text-2xl pb-2 gray-text primary-font leading-tight pt-4 padding-mobile3">
		{{f.title}}
		</h2>
		<p class="py-4 text-base lg:text-lg gray-text font-light padding-mobile4" v-html="f.desc">
		</p>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		<div class="full-height-container" :id="links[7]">
		<div class="faq-container">
		<h2 class="text-5xl th-pink font-bold leading-normal">
		Sponsored By
		</h2>

		<a href="https://drive.google.com/file/d/1t7WDv0EGXgRB_fTIsmjnRcgKME2fNzb0/view?usp=sharing" target="_blank" class="font-bold text-center lg:mr-2 lg:w-1/2 sm:w-full hidden md:inline-block py-4 my-2 text-lg rounded-md th-yellow-bg
									text-white hover:text-white hover:bg-yellow-400">
		Sponsor Us
		</a>
		<a href="https://drive.google.com/file/d/1t7WDv0EGXgRB_fTIsmjnRcgKME2fNzb0/view?usp=sharing" target="_blank" class="font-bold lg:mr-2 md:hidden sm:w-full block py-4 my-2 text-center text-lg rounded-md th-yellow-bg
								text-white hover:text-white hover:bg-yellow-400">
		Sponsor Us
		</a>






		<div class="grid grid-cols-6 items-center">
		<div class="col-span-6 md:col-span-6 p-12" v-for="item in sponsorsLg" :key="item.id">
		<center>
		<img :src="item[0]" style="max-height: 120px; cursor: pointer;" @click="window.open(item[1], '_')">
		</center>
		</div>
		<div class="col-span-6 md:col-span-3 p-12" v-for="item in sponsorsMd" :key="item.id">
		<center>
		<img :src="item[0]" style="max-height: 100px; cursor: pointer;" @click="window.open(item[1], '_')">
		</center>
		</div>
		<div class="col-span-3 md:col-span-2 p-12" v-for="item in sponsors" :key="item.id">
		<center>
		<img :src="item[0]" style="max-height: 90px; cursor: pointer;" @click="window.open(item[1], '_')">
		</center>
		</div>
		
		</div>
		</br>
		</br>
		<h2 class="text-5xl th-pink font-bold leading-normal" style="margin-top: 100px;">
		Cohosted by
		</h2>
		
		<div class="grid grid-cols-3 justify-items-center items-center">
		<div class="col-span-3 md:col-span-1 p-12" v-for="item in partners" :key="item.id">
		<center>
		<img :src="item[0]" style="max-height: 100px; cursor: pointer;" @click="window.open(item[1], '_')">
		</center>
		</div>
		
		</div>
		</div>
		</div>
		
		<div style="height: 314px; background: url('./../static/th-2021/img/bottom.png')">
		<div class="faq-container" style="padding-top: 0px !important; padding-bottom: 0px !important;">

		</div>
		</div>
		
		</div>
		<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://unpkg.com/vue"></script>
		
		<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
		<script src="https://scrollmagic.io/assets/js/lib/jquery.min.js"></script>
		
		
		<script src="https://scrollmagic.io/assets/js/lib/greensock/TweenMax.min.js"></script>
		<script src="https://scrollmagic.io/scrollmagic/uncompressed/ScrollMagic.js"></script>
		<script src="https://scrollmagic.io/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
		<script src="https://scrollmagic.io/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
		
		
		<script>
				new Vue({
					el: '#app',
					data: function () {
						return {
							// Needed for window.open, as seen in the navbar segment
							window,
		
							// Store an array. Useful for looping
							links: ["Home", "About", "CPC", "Schedule", "Team", "Prizes", "FAQ", "Sponsors"],
							faq: [
								{
									title: "Who can attend?",
									desc: "Any middle or high school student under 19."
								},
								{
									title: "How much experience do I need?",
									desc: "Absolutely NONE! Hackathons are meant for you to explore and try new things!"
								},
								{
									title: "How much does it cost?",
									desc: "We only require you to be physically present! Even sweeter we will be giving everyone free swag! "
								},
						
								{
									title: "I don't have a team. How do I find people to hack with?",
									desc: "We will have Discord channels open for you to form teams before the event kicks off"
								},
								{
									title: "When is the deadline to apply for Keep Austin Hacking?",
									desc: "The deadline to registration is the night before the event, September 3rd, at 23:59."
								},
								{
									title: "Are there any rules?",
									desc: "Yes, by registering for this event, you're agreeing to follow the <a href=\"https://static.mlh.io/docs/mlh-code-of-conduct.pdf\" class=\"underline\">MLH Code of Conduct</a>, <a href=\"https://mlh.io/privacy\" class=\"underline\">MLH Privacy Policy</a>, and <a href=\"https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions\" class=\"underline\">MLH Prize Terms and Conditions</a>."
								},

								{
									title: "What is the team limit?",
									desc: "The team limit is a max of four people."
								},
								{
									title: "Have additional questions?",
									desc: "Email us with any questions, comments, concerns at keepaustinhacking@gmail.com."
								}
							],
							prizes: [
							  {
								name: "First Prize Hackathon",
								description: "1st place in Hackathon.",
								prize: "Asus ROG Monitor: ASUS ROG Strix XG32VC 31.5"
							  },
							  {
								name: "Second Place Hackathon",
								description: "2nd place in Hackathon.",
								prize: "Razer Mechanical Keyboard: Razer BlackWidow Elite Mechanical "
							  },
							  {
								name: "Third Place Hackathon",
								description: "3rd place in Hackathon.",
								prize: "Logitech Mouse: Logitech G203"
							  },
							  {
								name: "Best 6-8 Hack",
								description: "Best Hack by a team with members all within 6-8 grade.",
								prize: "XBOX S 	"
							  },
							  {
								name: "CPC First Place",
								description: "1st place in CPC",
								prize: "Asus ROG Monitor: ASUS ROG Strix XG32VC 31.5"
							  },
							  {
								name: "CPC Second Place",
								description: "2nd place in CPC",
								prize: "Razer Mechanical Keyboard: Razer BlackWidow Elite Mechanical"	
							  },
							  {
								name: "CPC Third Place",
								description: "3rd place in CPC",
								prize: "Logitech Mouse: Logitech G203 "
							  },
							  {
								name: "CPC Highest Ranking 6-8 team",
								description: "Best 6-8 grade CPC team",
								prize: "Nintendo Switch"
							  },
							  {
								name: "CS Bowl Winners",
								description: "Winners of the CS Bowl",
								prize: "64GB USB stick: Lexar"
							  },
							  {
								name: "LOL Tournament Winners",
								description: "Winners of LOL tournament",
								prize: "$10 in RIOT points"
							  },
							]
						}
					},
				})
		
		
		
				
		
				// Scroll Image
		
			// define images
			// var images = [
			//     "./../static/th-2021/img/ani2/frame_104_delay-0.03s.gif",
			//     // "./../static/th-2021/img/ani2/frame_000_delay-0.03s.gif",
			//     "./../static/th-2021/img/ani2/frame_013_delay-0.03s.gif",
			//     "./../static/th-2021/img/ani2/frame_021_delay-0.03s.gif",
			//     "./../static/th-2021/img/ani2/frame_028_delay-0.03s.gif",
			//     "./../static/th-2021/img/ani2/frame_046_delay-0.03s.gif",
			//     // "./../static/th-2021/img/ani2/frame_073_delay-0.03s.gif"
			// ]
		

		
			// var images = [
			//     "./../static/th-2021/img/ani/frame_000_delay-0.03s.gif",
			//     "./../static/th-2021/img/ani/frame_013_delay-0.03s.gif",
			//     "./../static/th-2021/img/ani/frame_026_delay-0.03s.gif",
			//     // "./../static/th-2021/img/ani/frame_039_delay-0.03s.gif",
			//     // "./../static/th-2021/img/ani/frame_052_delay-0.03s.gif",
			//     "./../static/th-2021/img/ani/frame_065_delay-0.03s.gif",
			//     // "./../static/th-2021/img/ani/frame_078_delay-0.03s.gif",
			//     // "./../static/th-2021/img/ani/frame_091_delay-0.03s.gif",
			//     "./../static/th-2021/img/ani/frame_104_delay-0.03s.gif"
			// ];
		
			// TweenMax can tween any property of any object. We use this object to cycle through the array
			var obj = {curImg: 0};
		
			// create tween
			var tween = TweenMax.to(obj, 0.5,
				{
					curImg: images.length - 1,	// animate propery curImg to number of images
					roundProps: "curImg",				// only integers so it can be used as an array index
					repeat: 0,									// repeat 3 times
					immediateRender: true,			// load first image automatically
					// ease: Linear.ease,			// show every image the same ammount of time
					onUpdate: function () {
					  $("#myimg").attr("src", images[obj.curImg]); // set the image source
					}
				}
			);
		
			// init controller
			var controller = new ScrollMagic.Controller();
		
			// build scene
			var scene = new ScrollMagic.Scene({triggerElement: "#trigger", duration: 300})
							.setTween(tween)
							// .addIndicators() // add indicators (requires plugin)
							.addTo(controller);
		
			scene.duration(800);
			// handle form change
			// $("form.move input[name=duration]:radio").change(function () {
			// 	scene.duration($(this).val());
			// });
		
		
			</script>
		</body>

</html>
