.th-pink {
    color:#fe4a49!important
   }
.th-pink-bg {
    background-color:#fe4a49
   }
.th-pink-border {
    border:1px solid #fe4a49
   }
.th-pink-text {
    color:#fe4a49
   }
.th-yellow-bg {
    background-color:#fed766
   }